@import url('https://fonts.googleapis.com/css?family=Lato:400,600,700,900&display=optional');

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    position:relative;
    min-height: 100%;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

main {
    padding-bottom: 6.5rem;
    overflow-x: hidden;
}

footer {
    position: absolute;
    width:100%;
    bottom: 0;
}

a {
    text-decoration: none;
}

b {
    font-weight: bold;
}

