.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    @include medium {
        min-width: 768px;
    }

    @include large {
        min-width: 1140px;
        max-width: 2000px;
    }
}